*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);

}
h1{
    font-size: 60px;
    margin-bottom: 30px;
    color: #ffffff;
}
h4{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

#containe{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 80vw;
    height: 50%;
    background-color: rgb(17, 0, 255);
    border-radius: 20px;

}

.relogio{
    font-size: 100px;
    padding: 10px;
    margin-bottom: 50px;
    color: #ffffff;

}

button{
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px;
    margin-top: 20px;
    list-style: none;
    border: none;

}
.btn:focus{
    background-color: rgb(17, 0, 255);
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
}

.btn1{
    width: 130px;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
}

.container{
    display: none;
}


.container{
    background-color: rgb(17, 0, 255);
    overflow-y: scroll;
    width: 130px;
    height: 420px;
    border-radius: 20px;
    margin-left: 10px;
    padding: 20px;
}
  
.apagar{
    display: none;
    
}

.container::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 20px;
    background-color: aqua;
}
.container::-webkit-scrollbar{
    width: 10px;
    background-color: aliceblue;
    
    border-radius: 20px;
}
@media screen and (max-width: 900px) {

    button{
        padding: 10px 30px;
        font-size: 15px;
        margin: 7px;
    }

    .relogio {
        font-size: 80px;
        padding: 10px;
        margin-bottom: 50px;
    
    }
    h1{
        font-size: 50px;
    }
    #containe {
        width: 80vw;
    }


}

@media screen and (max-width: 600px){

    h1{
        font-size: 40px;
    }
    .relogio{
        font-size: 50px;
    }
    .btn{
        font-size: 15px;
        padding: 10px 20px;
    }
    .btn1{
        width: 100px;
    }
    .container {
        height: 40vh;
        width: 100px;
    }


    
}
@media screen and (max-width: 470px) {
    
    h1{
        font-size: 25px;
    }
    .relogio{
        font-size: 30px;
    }
    .btn{
        font-size: 12px;
    }
    .btn1{
        font-size: 14px;
        width: 100px;
    }
    #containe{
        width: 80vw;
    }
    .container{
        height: 40vh;
        width: 100px;
    }
    h4{
        font-size: 14px;
    }


    
}
@media screen and (max-width: 290px) {
    .btn{
        padding: 14px;
        border-radius: 15px;
        margin: 3px ;
    }

}



